#image{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; 
}

#title, #img-caption, #headline, #closing{
  text-align: center;
}

#bullet-points{
  line-height: 2;
}

main{
  background-color: DarkOrange;
}
